{% load static %}
{% load carts_tags %}

{% user_carts request as carts %}

{% comment %} <div class="card mb-3 text-bg-light shadow-lg">
  {% for cart in carts %}
    <div class="card-header">
      <h5 class="card-title">{{ cart.product.name|truncatechars:35 }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row text-center">
          <div class="col p-0">
            <div class="input-group">
              <span class="input-group-btn"><button type="button" class="btn btn-dark btn-sm decrement" data-cart-id="" data-cart-change-url="">-</button></span>
              <input type="text" class="form-control number" value="{{ cart.quantity }}" readonly />
              <span class="input-group-btn"><button type="button" class="btn btn-dark btn-sm increment" data-cart-id="" data-cart-change-url="">+</button></span>
            </div>
          </div>
          <div class="col p-0">
            <p>x {{ cart.product.sell_price }} =</p>
          </div>
          <div class="col p-0">
            <strong>{{ cart.products_price }} $</strong>
          </div>
          <div class="col p-0">
            <a href="{% url 'carts:cart_remove' cart.id %}" class="remove-from-cart" data-cart-id=""><img class="mx-1" src="{% static 'images/trash3-fill.svg' %}" alt=" " width="32px" height="32px" /></a>
          </div>
        </div>
      </li>
    </ul>
  {% endfor %}
</div>
<div class="card mb-3 shadow-lg">
  <div class="card-footer">
    <p class="float-left">
      Total <strong>{{ carts.total_quantity }}</strong> item(s) for the amount of
    </p>
    <h4 class="float-left" style="margin-left: 20px !important; margin-top: -3px;"><strong>{{ carts.total_price }} ₴</strong></h4>
  </div>
</div> {% endcomment %}

{% block content %}
  <div class="row">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
          <h3 class="text-center mb-4">Cart</h3>
          <div class="container" id="cart-items-container">
            <!-- Разметка корзины -->
            {% load static %}
            {% load carts_tags %}

            {% user_carts request as carts %}

            <div class="card mb-3 text-bg-light shadow-lg">
              {% for cart in carts %}
                <div class="card-header">
                  <h5 class="card-title">{{ cart.product.name|truncatechars:90 }}</h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row text-center">
                      <div class="col p-0">
                        <div class="input-group">
                          <span class="input-group-btn"><button type="button" class="btn btn-dark btn-sm decrement" data-cart-id="" data-cart-change-url="">-</button></span>
                          <input type="text" class="form-control number" value="{{ cart.quantity }}" readonly />
                          <span class="input-group-btn"><button type="button" class="btn btn-dark btn-sm increment" data-cart-id="" data-cart-change-url="">+</button></span>
                        </div>
                      </div>
                      <div class="col p-0">
                        <p>x {{ cart.product.sell_price }} =</p>
                      </div>
                      <div class="col p-0">
                        <strong>{{ cart.products_price }} $</strong>
                      </div>
                      <div class="col p-0">
                        <a href="{% url 'carts:cart_remove' cart.id %}" class="remove-from-cart" data-cart-id=""><img class="mx-1" src="{% static 'images/trash3-fill.svg' %}" alt=" " width="32px" height="32px" /></a>
                      </div>
                    </div>
                  </li>
                </ul>
              {% endfor %}
            </div>
            <div class="card mb-3 shadow-lg">
              <div class="card-footer">
                <p class="float-left">
                  Total <strong>{{ carts.total_quantity }}</strong> item(s) for the amount of
                </p>
                <h4 class="float-left" style="margin-left: 20px !important; margin-top: -3px;"><strong>{{ carts.total_price }} ₴</strong></h4>
              </div>
            </div>
            <!-- Закончилась разметка корзины -->
          </div>
          {% if carts %}
            <a class="btn btn-dark" href="../orders/create_order.html">Place an order</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
